langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-pinecone
pinecone
langgraph
langchain-openai
tavily-python
python-dotenv
pypdf
docx2txt
streamlit